<template>
  <p>{{ input.name }}</p>
  <div class="form-check" v-for="value in input.values" :key="value.id">
    <input
        class="form-check-input"
        type="checkbox"
        :value="value.id"
        :name="input.id"
        :id="value.id"
        @change="inputChanged"
        :checked="checked(value.id)">
    <label :for="value.id"> {{ value.text }}</label>
  </div>
</template>

<script>
export default {
  name: "CheckBoxField",
  emits: ['inputChanged'],
  data() {
    return {
      checkedItems: []
    }
  },
  props: {
    input: Object
  },
  methods: {
    inputChanged(e) {
      let found = false;
      const value = e.target.value;

      const checkedItems = [...this.checkedItems]
      checkedItems.forEach((item, index) => {
        if (item === value) {
          found = true;
          checkedItems.splice(index, 1)
        }
      })
      if (found === false) {
        checkedItems.push(value)
      }
      this.checkedItems = checkedItems
      this.sendChangeEvent({fieldId: this.$props.input.id, value: this.checkedItems, new: true, type: this.input.type});
    },
    checked(id) {
      id = Number.parseInt(id)
      for (let i = 0; i < this.$props.input.value.length; i++) {
        if (this.$props.input.value[i] === id) {
         return true;
        }
      }
      return false;
    },
    sendChangeEvent(fields) {
      this.$emit('input-changed', fields);
    }
  },
  mounted() {
    let checked = this.$props.input.value
    this.checkedItems = checked
    this.sendChangeEvent({fieldId: this.$props.input.id, value: checked, new: false, type: this.input.type});
  },
}
</script>

<style scoped>

</style>