<template>
  <div v-if="input.value.length > 0">
    <div class="custom-file__image" v-for="image in input.value" :key="image">
      <img :src="image" alt="image">
    </div>
  </div>
  <div class="custom-file">
    <input :id="input.id" class="custom-file-input" type="file" ref="file" :multiple="multiple" @change="changed"
           :aria-describedby='input.id'>
    <label :for="input.id" class="custom-file-label">{{ name }}</label>
  </div>
  <br>
</template>

<script>
export default {
  name: "FileField",
  emits: ['inputChanged'],
  props: {
    input: Object
  },
  data() {
    return {
      name: this.$props.input.name,
    }
  },
  computed: {
    multiple() {
      return this.$props.input.multiple === 'Y'
    }
  },
  methods: {
    changed(e) {
      this.setName(e.target.files)
      const files = this.$refs.file.files;
      this.sendChangeEvent({fieldId: this.$props.input.id, value: files, new: true, type: this.input.type});
    },
    sendChangeEvent(fields) {
      this.$emit('input-changed', fields);
    },
    setName(files) {
      if (!this.multiple) {
        this.name = files[0].name
        return
      }
      let names = []
      files.forEach(file => {
        names.push(file.name)
      })
      this.name = names.join(', ')
    }
  },
  mounted() {
    this.sendChangeEvent({
      fieldId: this.$props.input.id,
      value: this.$props.input.value,
      new: false,
      type: this.input.type
    });
  },
}
</script>

<style scoped>
.custom-file {
  margin-bottom: 10px;

}
.custom-file__image {
  display: inline-block;
  margin-bottom: 20px;
}

.custom-file__image img {
  width: auto;
  height: 70px;
  margin: 5px;
}
</style>