<template>
  <p>{{ input.name }}</p>
  <div class="form-check" v-for="value in input.values" :key="value.id">
    <input
        class="form-check-input"
        type="radio"
        :value="value.id"
        :name="input.id"
        :id="value.id"
        @change="inputChanged"
        :checked="checked(value.id)">
    <label :for="value.id"> {{ value.text }}</label>
  </div>
</template>

<script>
export default {
  name: "RadioButtonField",
  emits: ['inputChanged'],
  props: {
    input: Object
  },
  methods: {
    inputChanged(e) {
      this.sendChangeEvent({fieldId: this.$props.input.id, value: e.target.value, new: true, type: this.input.type});
    },
    checked(id) {
      return this.$props.input.value === id
    },
    sendChangeEvent: function(fields) {
      this.$emit('input-changed', fields);
    }
  },
  mounted() {
    let checked = 0
    if (this.$props.input.value > 0) {
      checked = this.$props.input.value
    }
    this.sendChangeEvent({fieldId: this.$props.input.id, value: checked, new: false, type: this.input.type});
  },
}
</script>

<style scoped>

</style>