<template>
  <div class="form-group">
      <label :for="input.id">{{ input.name }}</label>
      <textarea
          :id="input.id"
          class="form-control"
          @input="inputChanged"
          :value="input.value"
      ></textarea>
  </div>
</template>

<script>
import * as _ from "lodash"

export default {
  name: "TextAreaField",
  emits: ['inputChanged'],
  props: {
    input: Object
  },
  methods: {
    inputChanged: _.debounce(function(e) {
      this.sendChangeEvent({fieldId: this.$props.input.id, value: e.target.value.trim(), new: true, type: this.input.type});
    }, 500),
    sendChangeEvent(fields) {
      this.$emit('input-changed', fields);
    }
  },
  mounted() {
    this.sendChangeEvent({fieldId: this.$props.input.id, value: this.$props.input.value, new: false, type: this.input.type});
  },
}
</script>

<style scoped>

</style>