<template>
  <input-group
      v-for="group in rttItem.groups"
      :key="group.id"
      :group="group"
      :allow="allowLevel"
      v-on:check-allow="checkAllow">
  </input-group>
  <input type="submit" class="btn btn-primary" value="Сохранить" @click="save">
</template>

<script>
// @ is an alias to /src

import InputGroup from "@/components/InputGroup";
import {mapState} from "vuex";

export default {
  name: 'RttDetail',
  computed: {
    ...mapState([
          'rttItem','userId'
        ],
    ),
    rttId() {
      if (!!this.$route.params.id && this.$route.params.id > 0) {
        return this.$route.params.id;
      }
      return 'new';
    }
  },
  data() {
    return {
      allowLevel: 1,
      values: [],
    }
  },
  components: {InputGroup: InputGroup},
  methods: {
    checkAllow(groupAllow) {
      if (groupAllow.groupId > this.allowLevel) {
        return
      }
      if (!groupAllow.allow) {
        this.allowLevel = groupAllow.groupId
      } else if (groupAllow.allow && groupAllow.groupId >= this.allowLevel) {
        this.allowLevel = groupAllow.groupId + 1;
      }

      this.addGroupToResult(groupAllow.groupId, groupAllow.values)
    },
    addGroupToResult(groupId, fields) {
      const values = [...this.values]
      values.forEach((item, index) => {
        if (item.groupId === groupId) {
          values.splice(index, 1)
        }
      })
      values.push({groupId, fields})

      this.values = values
    },
    save() {
      let rttFields = []
      this.values.forEach((group => {
        rttFields = rttFields.concat(group.fields)
      }))
      rttFields.push({fieldId: 'rttId', value: this.rttId, new: true})
      rttFields.push({fieldId: 'userId', value: this.userId, new: true})
      this.$store.dispatch('SAVE_RTT', {fields: rttFields}).then(() => {
        this.$store.commit('CLEAR_RTT_ITEM')
        this.values = []
        this.$router.push({name: 'RttList'})
      })
    },
  },
  mounted() {
    if (!!this.$route.params.id && this.$route.params.id > 0) {
      this.$store.dispatch('LOAD_RTT_ITEM', {rttId: this.$route.params.id})
    } else {
      this.$store.dispatch('LOAD_RTT_TEMPLATE')
    }
  }
}
</script>

<style>
.group-title {
  cursor: pointer;
}

.group-title.disallowed {
  color: gray;
  cursor: not-allowed;
}
</style>
