<template>
  <div class="container">
    <div class="row">
      <transition-group name="fade" mode="out-in">
        <rtt-item v-for="rtt in rttList" :key="rtt.id" :rtt="rtt"></rtt-item>
      </transition-group>
      <hr>
      <div class="col-sm-12 text-center">
        <router-link :to="{name: 'RttAdd'}" class="btn btn-primary">Добавить новый</router-link>
      </div>
    </div>
  </div>
</template>
<script>
import RttItem from "@/components/RttItem";
import {mapState} from "vuex";

export default {
  name: 'RttList',
  components: {
    RttItem
  },
  computed: {
    ...mapState([
          'rttList', 'userId'
        ]
    )
  },
  mounted() {
    this.$store.commit('CLEAR_RTT_ITEM')
    this.$store.dispatch('LOAD_RTT_LIST', {userId: this.userId})
  }
}
</script>