<template>
  <div>
    <h3 class="group-title" :class="{disallow: !isAllowed()}" @click="dropdown">{{ group.name }}</h3>
    <hr>
    <div class="group-body" :class="{show: show && allowed}">
      <form>
        <component
            v-for="input in group.fields"
            :is="`${input.type}-field`"
            :key="input.id"
            :input="input"
            v-on:input-changed="changed">
        </component>
      </form>
    </div>
    <hr>
  </div>
</template>
<script>
import TextField from '@/components/inputs/TextField'
import FileField from '@/components/inputs/FileField'
import CheckBoxField from '@/components/inputs/CheckBoxField'
import RadioButtonField from '@/components/inputs/RadioButtonField'
import TextAreaFiled from '@/components/inputs/TextAreaField'

export default {
  name: "InputGroup",
  components: {
    'text-field': TextField,
    'email-field': TextField,
    'number-field': TextField,
    'textarea-field': TextAreaFiled,
    'file-field': FileField,
    'checkbox-field': CheckBoxField,
    'radiobutton-field': RadioButtonField,
  },
  props: {
    group: Object,
    allow: Number
  },
  computed: {
    countFields() {
      return this.$props.group.fields.length
    },
    allowed() {
      return this.$props.allow >= this.$props.group.id
    }
  },
  data() {
    return {
      show: false,
      values: [],
    }
  },
  methods: {
    isAllowed() {
      return this.allowed
    },
    dropdown: function () {
      if (!this.allowed) {
        this.show = false
        return;
      }
      this.show = !this.show
    },
    changed(input) {
      if (input.value.length > 0 || input.value > 0 ||
          (typeof input.value === 'object' && input.value.type === 'image/jpeg')) {
        this.addField(input)
      } else {
        this.dropField(input.fieldId)
      }
      this.checkAllowNext()
    },
    addField(input) {
      const values = [...this.values]
      values.forEach((item, index) => {
        if (item.fieldId === input.fieldId) {
          values.splice(index, 1)
        }
      })
      values.push(input)

      this.values = values
    },
    dropField(fieldId) {
      let values = [...this.values]
      values = values.filter((value) => {
        return value.fieldId !== fieldId
      })
      this.values = values
    },
    checkAllowNext() {
      let allow = false
      if (this.countFields === this.values.length) {
        allow = true
      }

      this.$emit('check-allow', {groupId: this.$props.group.id, allow: allow, values: this.values})
    }
  },
}
</script>

<style scoped>
.group-title.disallow {
  color: gray;
  cursor: not-allowed;
}

.group-body.show {
  max-height: 15000px;
  overflow: hidden;
  transition: all .5s;
  opacity: 1;
}

.group-body {
  transition: all .5s;
  opacity: 0;
  max-height: 15px;
  overflow: hidden;
}

</style>