<template>
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="https://metalpart.ru/upload/iblock/295/img2369.jpg" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ rtt.name }}</h5>
        <p class="card-text m-0">{{ `Телефон : ${rtt.phone}` }}</p>
        <p class="card-text m-0">{{ `Адрес : ${rtt.address}` }}</p>
        <div class="mt-auto">
          <router-link :to="{name: 'RttDetail', params: {id: rtt.id}}" class="btn btn-block btn-primary mt-3">
            Редактировать
          </router-link>
          <a @click="deleteRtt" class="btn btn-block btn-danger">Удалить</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";
export default {
  name: "RttItem",
  props: {
    rtt: Object
  },
  computed: {
    ...mapState(['userId']),
  },
  methods: {
    deleteRtt: function () {
      this.$store.dispatch('DELETE_RTT', {'rttId': this.rtt.id, userId: this.userId});
    }
  }
}
</script>

<style scoped>
.card {
  border: none;
}

.card .card-header {
  display: none;
}
</style>