<template>
  <div class="container">
    <div v-if="userId === null">
      <h4>Авторизуйтесь...</h4>
    </div>
    <div v-else>
      <router-view :key="$route.path"></router-view>
    </div>
  </div>
</template>


<script>
import {mapState} from "vuex";

export default {
  name: 'App',
  components: {},
  computed: {
    ...mapState([
          'userId',
        ],
    ),
  },
  mounted() {
    this.$store.dispatch('GET_USER_ID');
  }
}

</script>
